@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sample-template{
    margin: auto;
    max-width: 800px;
}
.template{
    background-color: rgb(118, 164, 165);
    height: 150px;
    max-width: 800px;
}

.resume-template{
    display:grid ;
    grid-template-columns:   300px auto;
    border: 2px solid gray;
    
    padding: 20px;
    column-gap: 40px;
}


.section-1{
    border: 2px solid black;
    padding: 10px ;
  
}

.profile-top img{
    width: 250px;
    height: 250px;
    margin: 10px;
    
}
.profile-top .profile-top-info{
    line-height: 30px;
    padding: 10px;
}
/* .profile-top .profile-top-info i{
   margin: px;
} */
.profile-top  a{
    text-decoration: none;
    font-size: larger;
    color: rgb(118, 164, 165);
    margin: 8px;
}
.heading{
    margin-top: 20px;
    line-height: 30px;
}

.heading h1{
    margin-bottom: 10px;
}
.heading .title{
    display: flex;
    /* flex-direction: column; */

}
.highlight{
    background-color: rgb(124, 171, 172);
    width: 100%;
    
}
/* section-2 */
/* name */
.section-2 .name{
    margin-top: 70px;
  
}
.section-2 .name h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    font-size: 3em;
}

/* profile */
.profile{
    margin-top:40px ;
}
.logo-heading{
    display:grid;
    grid-template-columns: 10px auto;
 
    gap: 20px;
  align-items: center;
  
}
.logo-heading  li{
   list-style: none;

  
}
.profile .about{
    margin-top: 15px;
}
/* Experience */
.experience{
    margin-top:20px ;
}
.work{
    display: grid;
    grid-template-columns: 50px 30px auto;
    margin-top: 20px;
}

.duration{
    margin: auto;
    margin-right: 20px;
    

}
.border{

    display: flex;
    align-items: stretch;
 
    width: 2px;
    background-color: black;
}
.company{
   
    margin-left: 3px;
   
}
/* reference */
.reference{
    margin-top: 20px;
   
}
.refers{
    display: grid;
    grid-template-columns: auto auto;

}
.refer-info{
    margin-top: 10px;

   
}
.refer-info h4 {
line-height: 30px;
}
.refer-con span{
   font-size:large;
   font-weight: 900;
}
.refer-con div{
color:    rgb(153, 153, 153);
font-weight: 700;
}


/* Mobile CSS */
@media only screen and  (min-width: 320px) and (max-width:480px) {
    .sample-template{
        margin: auto;
        max-width: 480px;
    }
    .template{
        background-color: rgb(118, 164, 165);
        height: 150px;
        max-width: 480px;
    }
    .resume-template{
        display:grid ;
        grid-template-columns:   150px auto;
        border: 2px solid gray;
        
        padding: 10px;
        column-gap: 20px;
    }
    .section-1{
        border: 2px solid black;
        /* padding: 5px ; */
      
    }
    .profile-top img{
        width: 125px;
        height: 125px;
        margin: 5px;
        
    }
    .profile-top  a{
        text-decoration: none;
        font-size: medium;
        color: rgb(118, 164, 165);
       margin: 10px;
    }
    .section-2 .name h1{
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 5px;
        font-size: 2em;
    }
}````````````````````````````````                                                                                                                                                                                                                                                    